.FilePreview {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: var(--second);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  user-select: text;
  input,
  button {
    font: inherit;
  }
}

.FilePreview input,
.FilePreview button {
  font: inherit;
}

.FilePreview input {
  display: inline-block;
  width: 55px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  //height: 24px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.FilePreview header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.FilePreview header h1 {
  font-size: inherit;
  margin: 0;
}

.FilePreview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

.FilePreview-container-load {
  margin-top: 1em;
  color: white;
}

.FilePreview-container-document-start {
  width: 100%;
  max-width: calc(100% - 2em);
  // margin: 1em 0;
}

.FilePreview-container-document {
  width: max-content;
  max-width: calc(100% - 2em);
  // margin: 1em 0;
}

.FilePreview-container-document .react-pdf-Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FilePreview-container-document .react-pdf-Page {
  // margin: 1em 0;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.FilePreview-container-document .react-pdf-message {
  padding: 20px;
  color: white;
}

.container-content-controls {
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  bottom: 5px;
  .container-content-controls-button {
    margin: 0 5px;
  }
  padding: 0 5px 5px 5px;
}

.DropdownMenuButton {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 5px;

  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  user-select: none;
  outline: none;
  border: none;
  color: var(--black);

  box-shadow: var(--card-shadow);

  &:hover {
    background-color: var(--hover-color-1);
  }


  @keyframes button-click {
    0% {
      background-color: #e5e5e5;
    }
    50% {
      background-color: #d5cece;
    }
    100% {
      background-color: #ffffff;
    }
  }
  &:active {
    animation: button-click 0.3s;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.DropdownMenuButton-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.icon-button-icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DropdownMenuItem {
  &:hover {
    background-color: var(--hover-color-1);
  }
  @keyframes button-click {
    0% {
      background-color: #e5e5e5;
    }
    50% {
      background-color: #d5cece;
    }
    100% {
      background-color: #ffffff;
    }
  }
  &:active {
    //background-color: var(--primary);
    animation: button-click 0.3s;
    -webkit-animation: button-click 0.3s;
  }
}

.tooltipContent {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  background-color: white;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
